<h1>Sample App Help Page</h1>
<p>This is the help page for the sample app from the Hartl tutorial</p>
<p>
    Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>