<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  Can't believe Kobe resigned for $48.5 million!?
  <a href="http://sports.yahoo.com/news/nba--kobe-bryant-on--48-5-million-deal---this-wasn-t-a-negotiation--020919237.html">Kobe Bryant on $48.5 million contract extension: 'This wasn't a negotiation'</a>
</p>